<table id="table">
  <tr
    *ngFor="let todo of todos"
    class="row"
    style="border-bottom: 2px solid green"
  >
    <td class="checkbox">
      <input
        (click)="handleCheckbox(todo)"
        type="checkbox"
        id="checkbox-{{ todo.id }}"
        [checked]="todo.done"
      />
    </td>
    <td class="dropdown">
      <select
        name="priority"
        id="priority"
        (change)="handleDropdown($event, todo)"
      >
        <option
          value="{{ i + 1 }}"
          *ngFor="let item of [].constructor(3); let i = index"
          [selected]="todo.priority === i + 1"
        >
          {{ i + 1 }}
        </option>
        <!-- <option value="2" selected>2</option>
        <option value="3">3</option> -->
      </select>
    </td>
    <td id="text-{{ todo.id }}" [ngClass]="{ done: todo.done }" class="text">
      {{ todo.text }}
    </td>
    <td class="button">
      <span (click)="deleteTodo(todo)">
        <i class="material-icons"> delete_forever </i>
      </span>
    </td>
  </tr>
</table>
