@import "https://fonts.googleapis.com/icon?family=Material+Icons";
* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #6a1b9a;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

a,
a:visited {
  color: yellowgreen;
}

main {
  background-color: #9c4dcc;
  padding: 20px;
  width: 500px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
